@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

@font-face {
    font-family: 'Indie Flower'
}

.page {
    background-color: #ccc;
    margin-top: 30%;
    text-align: center;
    padding: 20px 0 2px 0;
    color: #fff;
}

h1 {
    text-align: center;
    /* margin: 40px; */
    color: #000;
    position: absolute;
    top: 22%;
    /* left: 20%; */
    font-size: 66px;
    font-family: 'Times New Roman';
    width: 100%;
}

button {
    margin: auto;
    background-color: #ccc;
    color: #ffffff;
    display: block;
    position: absolute;
    z-index: 9;
    bottom: 7%;
    left: 40%;
    width: 20%;
    padding: 10px;
    font-size: 24px;
    line-height: 30px;
    border: outset;
    /* border-radius: 9px; */
}

button:hover {
    background-color: #7e7e7e;
}

p {
    font-size: 18px;
}

form {
    margin: 15px 0 30px;
}

.radio {
    margin: 5px 10px;
    position: relative;
    display: inline-flex;
}

.radio:first-child:after {
    display: block;
    position: absolute;
    width: 40px;
    content: '1';
    line-height: 40px;
    background-color: rgba(0, 0, 0, 1);
    height: 40px;
    border: solid 2px #333;
    border-radius: 3px;
    font-weight: 600;
}

.radio:nth-child(2):after {
    display: block;
    position: absolute;
    width: 40px;
    content: '2';
    line-height: 40px;
    background-color: rgba(0, 0, 0, 1);
    height: 40px;
    border: solid 2px #333;
    border-radius: 3px;
    font-weight: 600;
}

.radio:nth-child(3):after {
    display: block;
    position: absolute;
    width: 40px;
    content: '3';
    line-height: 40px;
    background-color: rgba(0, 0, 0, 1);
    height: 40px;
    border: solid 2px #333;
    border-radius: 3px;
    font-weight: 600;
}

.radio:nth-child(4):after {
    display: block;
    position: absolute;
    width: 40px;
    content: '4';
    line-height: 40px;
    background-color: rgba(0, 0, 0, 1);
    height: 40px;
    border: solid 2px #333;
    border-radius: 3px;
    font-weight: 600;
}

.radio.chosen:after{
    background-color: red;
}

.car-label {
    margin: 10px;
}

.car-label label {
    margin-right: 15px;
}

.car-label select {
    padding: 3px;
    border-radius: 3px;
}